  body{
      background-color: red;
  }
  .Box-Calender {
    background: linear-gradient(#249ab5, #a2d1db);
    width: 18rem;
    height: 25rem;
    padding-top: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
  }
  
  #month {
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 1rem;
    color: #edfffc;
  }
  
  .calender {
    th {
      padding-right: 1rem;
      padding-bottom: .6rem;
      font-size: 0.7rem;
      text-align: center;
      color: #a0fae2;
    }
    
    td {
      text-align: center;
      padding-right: 1rem;
      padding-bottom: 0.6rem;
      color: #c5fcf4;
    }
    
    
