/*Body CSS*********************************************/
body {
	background-color: white;
	padding: 0;
	margin: 0;
	font-family: 'Hind Madurai', sans-serif;
}
/*Message that shows on fridays************************/
.message{
	display: none;
	background-color: #839788;
	padding:10px;
	margin:10px auto;
	font-size: 20px;
	text-align: center;
}

/*Header CSS*******************************************/
header {
	max-width: 1400px;
	margin:auto;
	background-color:#BFD7EA;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100px;
	height: auto;
	padding-left: 10px;
}



.headings h1 {
	font-size: 1.5rem;
margin-left: 15px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #000000;
	font-size: .9rem;
	margin: 5px;
	text-align: center;
}

/*Menu list*******************************************/

nav {
	margin: 0 auto;
	max-width: 1400px;
	background-color: #BAA898;
	padding: 2.5px;
	font-weight: bold;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	background-color: #EEE0CB;
}
/* NOTE: The onclick JS toggles the .reponsive class from display none
 (.navigation li) to display block because the responsive class is added
  to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
/*NOTE: Shows active page.*/
.active{
	text-transform: uppercase;
	
	border-bottom: 1px solid #000000;
}

/*Main CSS************************************************/
main{
	max-width: 1200px;
	margin: auto;
}
h1{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px #839788;
}
h2{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 1px 1px #839788;
	padding-top: 15px;
	text-align: center;
	font-weight: bold;
}
h3{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}



footer {
	max-width: 1400px;
	margin:auto;
	background-color:#BFD7EA;
	padding: 2px 0;
	align-items:center;
	justify-content:center;
	text-align: center;
}

/*Hero and Weather summary section**************************/
.herodiv{
	margin: 10px auto;
	position: relative;
	height: auto;
}

.hero-image {
	
	width:100%;
	margin: 10px auto;
}
.hero-image img {
	width: 100%;
}
.weathersummary p {
	line-height: .5;
}
.l {
	text-align: right;
	margin-right: .5rem;
}
.r{
	
	margin-left: .5rem;
}
.sumGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.weathersummary{
		box-shadow: 0 0 10px #839788;
		padding: 10px;
		
	
}

/*Five Day Forcast***********************/
.forcastdiv{
	background: #EEE0CB;
	height: auto;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 10px #839788;
	
}

.flex {
	display: flex;
	/* flex-direction: row; */
	/* let us combine row and wrap with flow */
	flex-flow: row wrap;
	padding: 0 20px;
}

.flex-col {
	flex: 1 1 auto;
	background-color: #BFD7EA;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
    border-right: 1px solid #333;
	text-align: center;
}
 
.flex-col:hover {
	
	background-color: #EEE0CB;
	color: #000000;
}

 .col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid ;
	text-align: center;
	font-weight: 700;
	font-size: 1rem;
	background-color: #BAA898;
	color: #000000;
}

.flex img {
	border-radius: 100px;
	padding: 0.25rem;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

 
/*Article*************************************************/
.activitydiv{
	box-shadow: 0 0 10px #839788;
	padding: 20px;
	text-align: center;
}
.activity-image {
	width:55%;
	border: solid #839788;
	padding: 5px;
	margin: auto;
	
}
.activity-image img {
	width: 100%;
}
.activitydiv p {

padding: 0 10px;

}

/*Contact section:map and social media*******************/

.contactdiv {
    
    margin: 20px auto;
    text-align: center;
    background-color: #EEE0CB;
    color: #000000;
    line-height: 2em;
	box-shadow: 0 0 10px #839788;
  }
  .contactdiv a {
    color: #000000;
  }
  .contactdiv a:visited {
    color: red;
  }
  .map-image {
   display: none;
  }
  .contactdiv h3{
	  padding-top: 10px;
	  margin: 0;
  }
  /*make items not calapse when it has a float in it **************/
  .clearfix:after{
	  content: "";
	  display: table;
	  clear: both;

  }
	
/*Gallery Page****************************************************/
main{
	text-align: center;
}
figure{
	display: block;
	max-width: fit-content;
	background-color: #EEE0CB;
	box-shadow: 0 0 0.5rem 0.25rem #839788;
	margin:15px 20px 15px 20px;
}
.gallery-grid{
	display: grid;
	grid-template-columns: 1fr;
}
figure>img{
	width: 100%;
}
/*Thanks page******************/
#thanks{
	box-shadow: 0 0 10px #839788;
	max-width: 75%;
	margin:30px auto;
	padding: 10px;
}
/*Form****************************/
form{
	text-align: left;
}
form fieldset{
	margin:2rem 0;
	border:1px solid #839788;
	border-radius: 10px;
	padding:.5rem 2%;
}
from legend{
	color: #839788;
	margin: 0 1rem;
	padding: 0 .5rem;

}
form label.top, form div{
	display:block;
	padding-top: 1rem;
	color: red;

}
form label.top input, form label.top select {
	display: block;
	font-size: 1rem;
	border-radius: 4px;
	padding:.75rem;
	color:#555;
	width:100%;
	max-width: 20rem;
	background-color: rgba(0,0,0,0.1);
}
form label.sbs{
	display: block;
	padding:.75rem 0;
	color:#555;
}
form input.submitBtn{
	border:none;
	background-color:#839788 ;
	color:white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width:96%;
	max-width: 20rem;

}
form label.top input:required{
	border-left:red solid 6px;
}
form label.top input:required:valid{
	border-left: green solid 6px;
}
.formDiv{
	box-shadow: 0 0 10px #839788;
padding: 10px 30px;

}

/*HOME Page*************************************************************/
.townInfo section{
	box-shadow: 0 0 10px #839788;
	padding:20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.townInfo q {
	font-weight: bold;
}


/*Calendar*8**********************************************/
.calendar{
	box-shadow: 0 0 10px #839788;
	padding: 5px;
	margin:20px 0;
}

.calendar-wrapper {
	height: auto;
  }
  
  .calendar-header {
	background-color: rgba(18, 15, 25, 0.25);
	height: 100%;
	padding: 20px;
	color: #fff;
	/*font-family: "RobotoLight";*/
	font-family: 'Roboto', sans-serif;
	font-weigth: 300;
	position: relative;
  }
  
  .header-title {
	padding-left: 15%;
  }
  
  .header-background {
	height: 200px;
	background-position: center right;
	background-size: cover;
  }
  
  .calendar-content {
	background-color: #fff;
	padding: 20px;
	padding-left: 15%;
	padding-right: 15%;
	overflow: hidden;
  }
  
  .event-mark {
	width: 5px;
	height: 5px;
	background-color: teal;
	border-radius: 100px;
	position: absolute;
	left: 46%;
	top: 70%;
  }
  
  .calendar-footer {
	height: 200px;
	/*font-family: "RobotoLight";*/
	font-family: 'Roboto', sans-serif;
	font-weigth: 300;
	text-align: center;
	background-color: #4b6289 !important;
	position: relative;
	overflow: hidden;
  }
  
  .addForm {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background-color: #4b5889 !important;
	transition: top 0.5s cubic-bezier(1, 0, 0, 1);
	padding: 0 5px 0 5px;
  }
  
  .addForm input {
	color: #fff;
  }
  
  .addForm .row {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-bottom: 0;
  }
  
  .addForm h4 {
	color: #fff;
	margin-bottom: 1rem;
  }
  
  .addEventButtons {
	text-align: right;
	padding: 0 0.75rem 0 0.75rem;
  }
  
  .addEventButtons a {
	color: black;
	font-weight: 300;
  }
  
  .emptyForm {
	padding: 20px;
	padding-left: 15%;
	padding-right: 15%;
  }
  
  .emptyForm h4 {
	color: #fff;
	margin-bottom: 2rem;
  }
  
  .sidebar-wrapper {
	color: #fff;
	background-color: #5a649c !important;
	padding-top: 0;
	padding-bottom: 20px;
	/*font-family: "RobotoLight";*/
	font-family: 'Roboto', sans-serif;
	font-weigth: 300;
	padding-left: 0;
	padding-right: 0;
  }
  
  .sidebar-title {
	padding: 50px 6% 50px 12%;
  }
  
  .sidebar-title h4 {
	margin-top: 0;
  }
  
  .sidebar-events {
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 70px;
  }
  
  .empty-message {
	font-size: 1.2rem;
	padding: 15px 6% 15px 12%;
  }
  
  .eventCard {
	background-color: #fff;
	color: black;
	padding: 12px 24px 12px 24px;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
  }
  
  .eventCard-header {
	font-weight: bold;
  }
  
  .eventCard-description {
	color: grey;
  }
  
  .eventCard-mark-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 60px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
  }
  
  .eventCard-mark {
	width: 8px;
	height: 8px;
	background-color: #b39ddb;
	border-radius: 100px;
	position: absolute;
	left: 50%;
	top: 45%;
  }
  
  .day-mark {
	width: 7px;
	height: 7px;
	background-color: #b39ddb;
	border-radius: 100px;
	position: absolute;
	left: 47%;
	top: 67%;
  }
  
  .content-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 300px;
  }
  
  #table-body .col:hover {
	cursor: pointer;
	/*border: 1px solid grey;*/
	background-color: #E0E0E0;
  }
  
  .empty-day:hover {
	cursor: default !important;
	background-color: #fff !important;
  }
  
  #table-body .row .col {
	padding: .75rem;
  }
  
  #table-body .col {
	border: 1px solid transparent;
  }
  
  #table-body {}
  
  #table-body .row {
	margin-bottom: 0;
  }
  
  #table-body .col {
	padding-top: 1.3rem !important;
	padding-bottom: 1.3rem !important;
  }
  
  #calendar-table {
	text-align: center;
  }
  
  .prev-button {
	position: absolute;
	cursor: pointer;
	left: 0%;
	top: 35%;
	color: grey !important;
  }
  .prev-button i{ 
	font-size: 4em;
  }
  
  .next-button {
	position: absolute;
	cursor: pointer;
	left: 92%;
	top: 35%;
	color: grey !important;
  }
  .next-button i{ 
	font-size: 4em;
  }
  
  
  .addEvent {
	box-shadow: 0 5px 15px rgb(57, 168, 228);
	background-color: #39a8e4;
	padding: 10px;
	padding-left: 3em;
	padding-right: 3em;
	cursor: pointer;
	border-radius: 25px;
	color: #fff !important;
	background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
  }
  
  .addEvent:hover {
	transition: box-shadow 0.5s;
	box-shadow: 0 5px 25px rgb(57, 168, 228);
  }
  
  .mobile-header {
	padding: 0;
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: #5a649c !important;
  }
  
  .mobile-header a i {
	color: #fff;
	font-size: 38px;
  }
  
  .mobile-header h4 {
	color: #fff;
  }
  
  .mobile-header .row {
	margin-bottom: 0;
  }
  
  .mobile-header h4 {
	margin: 0;
	/*font-family: "RobotoLight";*/
	font-family: 'Roboto', sans-serif;
	font-weigth: 300;
  }
  
  @media (max-width:992px) {
	.content-wrapper {
	  margin-left: 0;
	}
	.mobile-header {
	  display: block;
	}
	.calendar-wrapper {
	  margin-top: 80px;
	}
	.sidebar-wrapper {
	  background-color: #EEEEEE !important;
	}
	.sidebar-title {
	  background-color: #5A649C !important;
	}
	.empty-message {
	  color: black;
	}
  }
  
  @media (max-width:767px) {
	.content-wrapper .container {
	  width: auto;
	}
	.calendar-content {
	  padding-left: 5%;
	  padding-right: 5%;
	}
	body .row {
	  margin-bottom: 0;
	}
  }
  
  @media (max-width:450px) {
	.content-wrapper {
	  padding-left: 0;
	  padding-right: 0;
	}
	.content-wrapper .container {
	  padding-left: 0;
	  padding-right: 0;
	}
  }