body {
	background-color: white;
	padding: 0;
	margin: 0;
}
/*message that shows on fridays*/
.message{
	background-color: #839788;
	padding:10px;
	margin:10px auto;
	font-size: 20px;
	text-align: center;
}

/*end of message*/
header {
	max-width: 1200px;
	margin:auto;
	background-color:#BFD7EA;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 175px;
	height: auto;
	padding-right: 25px;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #000000;
	margin-left: 20px;
	font-size: .9rem;
	padding-top: 10px;
}

nav {
	margin: 0 auto;
	max-width: 1200px;
	background-color: #BAA898;
	padding: 2.5px;
	font-weight: bold;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	background-color: #EEE0CB;
}


/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

/*main*************/
h2{
	text-align: center;
	font-weight: bold;
}


/*footer*************/
footer {
	max-width: 1200px;
	margin:auto;
	background-color:#BFD7EA;
	padding: 2px 0;
	align-items:center;
	justify-content:center;
	text-align: center;
}

/*text*************/
h1{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px #839788;
}
h2{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 1px 1px #839788;
	padding-top: 15px;
}
body{
	font-family: 'Hind Madurai', sans-serif;
}


/*hero weather summary section************/
.herodiv{
	margin: 10px auto;
	position: relative;
	max-width:960px;
	height: 300px;
}

.hero-image img{
	margin: 10px auto;
	background-color: #BAA898;
	width:100%;
	height: 300px;
	margin: auto;
}


.weathersummary{
	position: absolute;
	top: 50px;
	left: 50px;
	background: #EEE0CB;
	padding:.5rem;
	box-shadow: 0 0 30px #839788;
	opacity: 0.8;
	
}

.weathersummary p {
	line-height: .5;
}
.active{
	text-transform: uppercase;
	
	border-bottom: 1px solid #000000;
}
/*Five Day Forcast***********************/
.forcastdiv{
	background: #EEE0CB;
	
	max-width: 960px;
	height: 150px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 10px #839788;
	
}

.flex {
	display: flex;
	/* flex-direction: row; */
	/* let us combine row and wrap with flow */
	flex-flow: row wrap;
	padding: 0 20px;
}

.flex-col {
	flex: 1 1 auto;
	background-color: #BFD7EA;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
    border-right: 1px solid #333;
	text-align: center;
}
 
.flex-col:hover {
	
	background-color: #EEE0CB;
	color: #000000;
}



 .col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid ;
	text-align: center;
}

.flex img {
	border-radius: 100px;
	padding: 0.25rem;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

.col-head  {
	font-weight: 700;
	font-size: 1rem;
	background-color: #BAA898;
	color: white;
}

 
/*Activity*******************************/
.activitydiv{
	margin: 20px auto;
	position: relative;
	max-width: 960px;
	height: 300px;
	box-shadow: 0 0 10px #839788;
	margin-top: 50px;
	
}

.activity-image img{
	margin: 15.5px;
	border: solid #839788;
	width:25rem;
	height: auto;
	float: right;
}
.activitydiv p {

	padding: 0 0 0 30px;
}
/*map and social media***************/

.contactdiv {
    max-width: 960px;
    margin: 20px auto;
    text-align: center;
    background-color: #EEE0CB;
    color: #000000;
    line-height: 2em;
	box-shadow: 0 0 10px #839788;
  }
  .contactdiv a {
    color: white;
  }
  .contactdiv a:visited {
    color: rgb(240, 73, 64);
  }
	